<h1>Users#index</h1>

<h4>User info</h4>
<% if @user.image.attached? %>
  <%= image_tag @user.image, size: "200x200" %>
<% else %>
  <%= image_tag 'no_image', size: "200x200" %>
<% end %>

<%= button_to "E", edit_user_path %>
<p>name <%= @user.name %> </p>
<p>introduction <%= @user.introduction %> </p>
