<%= render 'sideb', {user: @user, book: Book.new} %>

<h4>Book detail</h4>

<%= image_tag @user.profile_image(100,100) %>
<%= @user.name %>

<%= @book.title %>
<%= @book.body %>
<% if @book.user == current_user %>
  <%= link_to "Edit", edit_book_path(@book.id) %>
  <%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか？" %>
<% end %>